/* Global Styles */

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #1a1d23; /* Dark blue background */
}

/* Sign-up/Login Section Styles */

#sign-up-login {
background-color: #2f343a; /* Dark gray background */
padding: 20px;
text-align: center;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#sign-up-login h2 {
margin-top: 0;
color: #0097e6; /* Bright blue text */
}

/* Welcome/Introduction Section Styles */

#welcome-intro {
background-color: #2f343a; /* Dark gray background */
padding: 20px;
text-align: center;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
margin-top: 20px;
}

#welcome-intro h1 {
margin-top: 0;
color: #0097e6; /* Bright blue text */
}
